@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #3E3E3E;
  font-family: "open sans", helvetica, arial, sans;

}
.logo{
  width: 100px;
}

.parent {

display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;


}

#login-img
{
  max-width: 100%;
  height: auto;
}





.form-control:focus {
        border-color: #ff80ff;
        box-shadow: 0px 0px 1.5px 0.2px #FC8820;
    }

.form-control {

-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;

}

.form-control:valid {
  background-color: #252525 !important;
}

.div1 {

    grid-area: 1 / 1 / 6 / 3;

    border-radius: 30px 0px 0px 30px;
  
    background: rgb(240,84,7);
    
    background: linear-gradient(120deg, rgba(240,84,7,1) 0%, rgba(254,133,10,0.8901734104046243) 100%);

    box-shadow: 0.5px -0.5px 6px 0.1px #FF764A;

    display: flex;
    align-items: center;
    justify-content: center;
  }

.div2 {

   color: #FF764A;
   grid-area: 1 / 3 / 6 / 6; 
   background-color: #2B2B2B;
   padding: 2em;
   border-radius: 0px 30px 30px 0px;
   box-shadow: 0.5px -0.5px 6px 0.1px #FF764A;
   text-align: center;
}



#login-img
{
  max-height: 100px;
  max-width: 100px;
}


.log-form {

  box-shadow: 0.5px -0.5px 3px 5px #FF764A;
  background-color: #2B2B2B;
  border-radius: 32px;
  width: 100%;
  min-width: 39vw;
  max-width: 59vw;
  min-height: 59vh;
  max-height: 69vh;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}
.log-form {
  /*padding: 2em;*/
  -webkit-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  -moz-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
}

form {
  display: block;
  text-align: center;
  width: 100%;
}

label{
  font-family: 'Noto Sans', sans-serif;

}
/* ========================WRITE YOUR CSS FROM HERE======================== */
.input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
}
.input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;
}
.input *:not(span):focus + span {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.input span {
  -webkit-transform: scale(0.993, 0.94);
          transform: scale(0.993, 0.94);
  -webkit-transition: opacity .25s, -webkit-transform .5s;
  transition: opacity .25s, -webkit-transform .5s;
  transition: transform .5s, opacity .25s;
  transition: transform .5s, opacity .25s, -webkit-transform .5s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,  -3px 3px 30px #10abff;
}




input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 12em;
}

::-webkit-input-placeholder {
  color: #cbd0d5;
}

::-moz-placeholder {
  color: #cbd0d5;
}

:-ms-input-placeholder {
  color: #cbd0d5;
}

::-ms-input-placeholder {
  color: #cbd0d5;
}

::placeholder {
  color: #cbd0d5;
}





svg {
  width: 10rem;
  position: fixed;
  margin: 20px;
  max-width: 430px;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
}
svg path {
  cursor: pointer;
  -webkit-animation: blob 2s infinite forwards;
          animation: blob 2s infinite forwards;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
svg path:hover {
  fill: #fafafa;
}
svg text {
  font-size: 45px;
}

@-webkit-keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
